---
import GitHubDropdown from '../svelte/GitHubDropdown.svelte';
---

<div class="starlight-header-social">
  <GitHubDropdown client:load />
</div>

<style>
  .starlight-header-social {
    display: inline-flex;
    align-items: center;
  }
</style>
